<div class="inmodal" >
    <div class="modal-header">
        <i class="fa fa-plug modal-icon"></i>
        <h4 class="modal-title">Plugs</h4>
    </div>
    <div class="modal-body">
        <dd ng-repeat="data in plugs" >
			<div class="col-xs-12" >
				<p class="pull-left">{{ data.nome }}</p>
				<a class="btn btn-xs btn-primary pull-right" ng-click="select(data.id_pin_presa)" >Select</a>
			</div>
		</dd>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="close()">Close</button>
    </div>
</div>

